
.header {
  background-color: #20232a;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  list-style-type: none;
}

.header__img {
  width: 30%;
}

.header__name {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;

}

@media only screen and (max-width: 1300px) {
  .header__name {
    font-size: 18px;
  }
}


@media only screen and (max-width: 950px) {
  .header__name {
    font-size: 14px;
  }
}

@media only screen and (max-width: 500px) {
  .header__name {
    font-size: 10px;
  }
}