.logo {
    height: 26px;
    margin: 16px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 20px;
    margin-left: -30px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 30px;
    line-height: 1;
  }
  
  
  .logo__img {
    margin-right: 10px;
    width: 20%;
    border: 0.5px solid black;
    border-radius: 999px;
  }
  
  
  

  
  
  