.header_fix {
  width: 100%;
  position: fixed;
  padding-top: 64px;
  padding-bottom: 100px;
}

.header_fix ul {
  list-style-type: none;
  background-color: rgb(202 202 202);
  display: flex;
  height: auto;
  width: auto;
  padding: 20px 0px;
  overflow-x: scroll;
  margin-right: 216px;
  font-weight: bold,
  
}
.header_fix ul li {
  margin: 0px 35px;
  display: flex;
  margin-top: -3px;
} 

button.ant-btn {
  margin: 0 35px;
}

.btn-button {
  width: auto;
  height: auto;
  font-size: 20px;
  font-weight: bold;
  border: none;
  color: #2c5b4e;
  background-color: rgb(202 202 202);
  margin-top: 10px;
}

