.header_fix {
  width: 100%;
  position: fixed;
  padding-top: 64px;
  padding-bottom: 100px;
}

.header_fix ul {
  list-style-type: none;
  background-color: rgb(202 202 202);
  display: flex;
  height: auto;
  width: auto;
  padding: 20px 0px;
  margin-right: 216px;
  font-weight: bold;
}
.header_fix ul li {
  margin: 0px 35px;
  display: flex;
  margin-top: -3px;
}

button.ant-btn {
  margin: 0 35px;
}

.btn-button {
  width: auto;
  height: auto;
  font-size: 20px;
  font-weight: bold;
  border: none;
  color: #2c5b4e;
  background-color: rgb(202 202 202);
  margin-top: 10px;
}

.ant-tabs > .ant-tabs-nav .ant-tabs-nav-add {
  display: none;
}

/*Side bar*/
#sidebar-wrapper {
  /* position: absolute; */
  top: 64px;
  left: 0px;
  height: calc(100vh - 50px);
  transition: all 0.5s ease;
  position: fixed;
  width: 200px;
}

.sidebar_container {
  background-color: #333547;
  margin-bottom: 10px;
  overflow-y: scroll ;
}
.sidebar_menus {
  background-color: #333547; 
  color: #8699ad;
  font-size: 16px;
}

li.ant-menu-item.ant-menu-item-only-child:hover {
  background-color: #404252;
}

ul#item_4\$Menu {
  background: #333547;
}
 
ul#item_4\$Menu:hover {
  background-color: #404252;
}
 

.logo {
  height: 26px;
  text-align: center;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 20px;
  margin-top: 20px;
  line-height: 1;
}

.logo__img {
  margin-right: 10px;
  width: 40%;
  border-radius: 999px;
  margin: 0 auto;
}

.logo p {
  margin-top: 10px;
  font-size: 18px;
}

input.ant-input {
  background: #f9f9f9d9;
}

#check {
  display: none;
}

label #icon1 {
  position: absolute;
  position: fixed;
  top: 45px;
  left: 19px;
  font-size: 20px;
  cursor: pointer;
  margin-left: -40px;
  color: #2600ff;
  transition: all 0.5s ease;
}

label #icon2 {
  position: absolute;
  font-size: 22px;
  cursor: pointer;
  color: #2600ff;
  left: 0px;
  transition: all 0.5s ease;
  top: 42px;
  position: fixed;
}

#check:checked ~ label #icon1 {
  left: 40px;
}

#check:checked ~ #sidebar-wrapper {
  left: -200px;
}

#check:checked ~ label #icon2 {
  left: -20px;
  opacity: 0;
  pointer-events: none;
}

#check:checked ~ .site-layout,
#check:checked ~ footer {
  margin-left: 0px;
  width: 100%;
  transition: all 0.5s ease;
}

.site-layout {
  margin-left: 200px;
  transition: all 0.5s ease;
  padding-top: 20px;
  background-color: #bdbdbd;
  position: fixed;
  margin-top: 65px;
  width: 87%;
}

.content_product {
  top: 0;
  overflow-y: scroll;
  height: 81vh;
  width: auto;
  padding: 30px;
}

.tab_data {
  margin: 23px;
  cursor: pointer;
}

.link_tab {
  color: black;
}

.link_tab:hover {
  color: blue;
}

input.ant-input {
  background: none;
}

/*Search sidebar */
.search_sidebar {
  padding: 10px;
  width: 100%;
  border: none;
  background: #e6f7ff;
  border-radius: 999px;
  color: #8699ad;
  height: auto;
  margin-top: 70px;
}

i.ant-menu-submenu-arrow {
  color: #8699ad;
}
