.table_col {
   padding-top: 30px;
   position: relative;
 }

.table_col_header {
  background-color: #bbaeaed9;
}

.table_col_header th {
  padding: 20px;
}

.table_col_content td:nth-child(4), .table_col_content_unactivated td:nth-child(4) {
  padding-left: 35px;
}

.table_col_content td {
  padding: 20px;
  cursor: pointer;
  background-color: rgb(176, 194, 194);
  margin-bottom: 10px;
}

.table_col_content_unactivated td {
  cursor: pointer;
  padding: 20px;
  background-color: rgb(229, 228, 226);
} 

.icon_active {
  color: green;
  font-size: 20px;
  margin-left: 10px;
}

.icon_deactive {
  color: red;
  font-size: 20px;
  margin-left: 10px;
} 

.box_products {
  display: flex;
  justify-content: center;
  align-content:  center;
  margin-top: 20px;
}

.searchData {
  width: 20%;
  border: none;
  border-radius: 5px;
}

 