.table,
th,
td {
  border: 1px solid #e6f7ff;
  border-collapse: collapse;
}

.table_col {
  padding-top: 30px;
  position: relative;
}

.table_col_header {
  background-color: #bbaeaed9;
  text-transform: uppercase;
}

.table_col_header th {
  padding: 20px 10px;
  text-align: center;
}

.table_col_content td {
  padding: 20px 20px;
  text-align: center;
  cursor: pointer;
  background-color: rgb(176, 194, 194);
}

.table_col_content_unactivated td {
  padding: 20px 20px;
  cursor: pointer;
  text-align: center;
  background-color: rgb(229, 228, 226);
}

.table_col_content_role td {
  cursor: pointer;
  text-align: center;
  background-color: rgb(176, 194, 194);
  padding: 20px 20px;
}

.table_col_content_unactivated_role td {
  padding: 20px 20px;
  text-align: center;
  cursor: pointer;
  background-color: rgb(229, 228, 226);
}

.icon_active {
  color: green;
  font-size: 25px;
}

.icon_deactive {
  color: red;
  font-size: 25px;
}

.box_products {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 20px;
}

.searchData {
  width: 20%;
  border: none;
  border-radius: 5px;
  background: #e6f7ff;
}

/*Role*/
.title_role {
  padding: 10px;
  cursor: pointer;
}

.title_user {
  cursor: pointer;
  padding: 5px;
}

.title_role:hover {
  color: green;
}

.tab_role td:nth-child(4) {
  position: absolute;
}
